<!-- Displaying all orders -->

<div class="mb-3" style="margin-top: 27vh; overflow: auto;">
  <div class="col-sm-6 col-md-6 col-lg-8 mx-auto" style="height: 59vh;">
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Company ID</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach(function(order){ %>
        <tr>
          <td><%= order.O_ID %></td>
          <td><%= order.Username %></td>
          <td><%= order.Email %></td>
          <td><%= order.Address %></td>
          <td><%= order.C_ID %></td>
          <td><%= order.Type %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
