<div class="container" style="overflow: auto;">
  <div>
    <h2 class="text-center">Our products</h2>
    <div class="col-sm-6 col-md-6 col-lg-8 mx-auto">
      <table class="table table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Stock</th>
            <th scope="col">Price ($/lb)</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(function(product){ %>
          <tr>
            <td><%= product.productID %></td>
            <td><%= product.product %></td>
            <td><%= product.stock %></td>
            <td><%= product.price %></td>
            <td>
              <a href="/updateProduct/<%= product.productID %>" class="btn btn-primary">Update</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>  
  </div>
  <div class="text-center mx-auto">
    <h2>Location</h2>
    <p>Come and visit us at 1209 Marginal Rd, Halifax, NS B3H 4P8</p>
    <h2>Hours</h2>
    <p>Saturday & Sunday 7.00 to 14.00 </p>
  </div>
</div>