<div
class="bg-info fixed-top"
style="text-align: center; padding: 2vh;"
>
<h2 style="float: left;">Welcome, <%= name %> !</h2>
<a href="/" class="btn-sm btn-dark" style="float: right; margin-right: 2%;">Logout</a>
<a href="/viewOrders" class="btn-sm btn-dark" style="float: right;margin-right: 2%;">View Orders</a>
<a href="/searchProduct" class="btn-sm btn-dark" style="float: right;margin-right: 2%;">Search</a>
</div>
<div class="mb-3" style="margin-top: 7vh; overflow: auto;">
    <br />
    <br />
    <div class="col-sm-6 col-md-6 col-lg-8 mx-auto" style="height: 59vh;">
      <center><h3>Search Product</h1></center>
  
      <div class="card border-dark">
        <div class="card-body">
          <form class="needs-validation" method="POST" action="/searchProduct">
            <label for="lblpartid">Product Name</label>
            <input
              class="form-control"
              name="txtproduct"
              placeholder="Enter Product Name"
              required
            />
  
            <br />
  
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
  
      <br />
  
      <% if (typeof products != 'undefined'){ if (products == null ) { %>
  
      <div class="card border-danger bg-danger">
        <div class="card-body mx-auto">
          <p class="card-text text-white">
            No such product available.
          </p>
        </div>
      </div>
  
      <% } else { %>
  
        <div class="col-sm-6 col-md-6 col-lg-8 mx-auto" style="height: 39vh;">
            <table class="table table-bordered">
              <thead class="table-dark">
                <tr>
                  <th scope="col">Product ID</th>
                  <th scope="col">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Buy</th>
                </tr>
              </thead>
              <tbody>
                <tbody>
                    <% products.forEach(function(singleData){ %>
                        <tr>
                        <td> <%= singleData.productID %> </td>
                        <td> <%= singleData.product %> </td>
                        <td> <%= singleData.price %> </td>
                        <td><a href="/buyProduct?productID=<%= singleData.productID %>&product=<%= singleData.product %>" class="btn btn-primary">Buy</a></td>
                        </tr>
                        <% }) %>
                  
              </tbody>
            </table>
        
          </div>
      <% } }%>  
    </div>  
  </div>
