<div
class="bg-info fixed-top"
style="text-align: center; padding: 2vh;"
>
<h2 style="float: left;">Welcome, <%= name %> !</h2>
<a href="/searchProduct" class="btn-sm btn-dark">Search</a>
<a href="/" class="btn-sm btn-dark">Update Profile</a>
<a href="/" class="btn-sm btn-dark">View Orders</a>
<a href="/" class="btn-sm btn-dark" style="float: right;">Logout</a>
</div>
<div class="mb-3" style="margin-top: 7vh; overflow: auto;margin-bottom: 20%;">
    <br />
    <br />
    <div class="col-sm-6 col-md-6 col-lg-8 mx-auto" style="height: 39vh;">
        <table class="table table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col">Product ID</th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Buy</th>
            </tr>
          </thead>
          <tbody>
            <tbody>
    
              <% allData.data.forEach(function(singleData){ %>
                <tr>
                <td> <%= singleData.productID %> </td>
                <td> <%= singleData.product %> </td>
                <td> <%= singleData.price %> </td>
                <td><a href="/buyProduct?productID=<%= singleData.productID %>&product=<%= singleData.product %>" class="btn btn-primary">Select</a></td>
                </tr>
                <% }) %>
              
          </tbody>
        </table>
    
      </div>
    
    <% if (typeof error != 'undefined'){ if (error != null || error != "") { %>
    
      <div class="card border-danger bg-danger" style="width: 35%; margin-left: 30%; margin-top: 1%; height: 1%;">
        <div class="card-body mx-auto"> 
          <p class="card-text text-white">
            <%= error %>
          </p>
        </div>
      </div>
  
      <% } %>
  
      <%  }%>  
  
  </div>
  